table {
	background-color: black;
	padding: 2vmin;
	border-radius: 5px;
	margin: auto;
	color: aliceblue;
}
td, th {
	padding: 1vmin;
}
.asc::before {
	content: '↓';
	margin: 2px
}
.desc::before {
	content: '↑';
	margin: 2px
}
td {
	background-color: aliceblue;
	border-radius: 2px;
	color: black;
}
th {
	color: aliceblue;
}
input[type=text] {
	width: 100%;
}
input, select {
	margin: 0 10px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}